.DS_Store

# IntelliJ
.idea/

*.iml
*.iws
*.log

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

bin/

terraform-provider-bamboo
.terraform/
crash.log
*.tfstate
*.tfstate.backup
*.lock.info

# Test binaries
*.test

# Profiling output
*.out
